<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">
<!--연간 접속자-->
    <select id="selectYearLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestInfo ri
        where left(ri.createDate, 2) = #{year};
    </select>
<!--    월간 접속자-->
    <select id="selectMonthLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestInfo ri
        where substring(ri.createDate, 3, 2) = #{month};
    </select>
<!--일별 접속자-->
    <select id="selectDayLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestInfo ri
        where substring(ri.createDate, 5, 2) = #{day};
    </select>
<!--하루평균로그인-->
    <select id="selectDayAvgLogin" parameterType="string" resultType="hashMap">
        select (count(ri.requestCode) /
               (max(to_date(left(ri.createDate), 6), yymmdd) - min(to_date(left(ri.createDate), 6), yymmdd))) as totCnt
        from statistc.requestInfo ri
        where ri.requestCode = 'L';
    </select>


</mapper>